services:
  node:
    image: node:24-alpine
    command: sh -c "npm install && npm run dev -- --host"
    restart: always
    ports:
      - "5173:5173"
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    working_dir: /app